doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  title Calculator
  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300")
  link(rel="stylesheet" href="main.css")
body
  div.calculator
    div.display#result 0
    div.buttons
      div.aux#ac AC
      div.aux.pm#pm &plusmn;
      div.aux#pct %
      div.op#divide &divide;
    div.buttons
      div.no 7
      div.no 8
      div.no 9
      div.op#multiply &times;
    div.buttons
      div.no 4
      div.no 5
      div.no 6
      div.op#subtract &minus;
    div.buttons
      div.no 1
      div.no 2
      div.no 3
      div.op#add &plus;
    div.buttons
      div.no.no0 0
      div.no#decimal .
      div.op#equals &equals;
  script(src="main.js")


